# shell aliases
alias ls='ls -la'
alias please='sudo $(history -p !!)'
alias helpme='cat ~/.aliases'

# git aliases
alias a='git add'
alias aa='git add .'

alias c='git commit'
alias cam='git commit --amend --message'
alias cm='git commit -m'
alias ca='git commit --amend'

alias ch='git checkout'
alias create='git checkout -b'
alias cdd='git checkout develop'
alias cmm='git checkout master'

alias mdev="git fetch | git merge --no-ff origin/develop"

alias df="git diff"

alias ss='git status'

alias publish='git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)'
alias pl='git pull'
alias prune='git fetch --prune'

alias tag="git tag"
alias rtr="git push --delete origin"
alias rtl="git tag --delete"
alias weather="curl wttr.in/wroclaw"

